<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <img data-test="logo" class="header-logo">

    <a data-test="home-btn" mat-button [routerLink]="['home']">Home</a>
    <a data-test="users-btn" mat-button *ngIf="isLoggedIn()" [routerLink]="['users']">Users</a>

    <div class="navbar-login-info">
      <span data-test="welcome-text" *ngIf="isLoggedIn()">{{getWelcomeText()}}</span>
      <button data-test="login-btn" mat-raised-button color="basic" (click)="loginClicked()">
        {{isLoggedIn() ? 'Logout' : 'Login'}}
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

